name: Deploy
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Decrypt Service Account
        run: ./decrypt.sh
        env:
          PASSPHRASE: ${{ secrets.PASSPHRASE }}
      - name: Kubernetes Config
      - run: curl https://sdk.cloud.google.com | bash > /dev/null;
      - run: source $HOME/google-cloud-sdk/path. bash. inc
      - run: gcloud components update kubectl
      - run: gcloud auth activate-service-account --key-file service-account.json
      - run: gcloud config set project multi-k8s-364705
      - run: gcloud config set compute/zone us-central1-c
      - run: gcloud container clusters get-credentials multi-cluster
      - name: Checkout source code
        uses: actions/checkout@v3
      - run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - run: docker build -t luiid/react-test -f ./client/Dockerfile.dev ./client
      - run: docker run -e CI=true luiid/react-test npm test
      - name: Deploy k8s
        run: ./deploy.sh
        env:
          $SHA: ${{ github.sha }}